@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  /*transition: background-color 0.2s ease, color 0.2s ease;*/
}
body.light {
  background: hsl(0, 0%, 99%);
  color: black;
}

body.dark {
  background: hsl(207, 26%, 17%);
  color: hsl(0, 100%, 100%);
}

.country-card {
  /*width: 300px;*/
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); 
  background-color: white;
  transition: box-shadow 0.2s ease, transform 0.2s ease; /* Transición suave */
}

body.dark .country-card {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.country-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  transform: translateY(-5px); /* Eleva la tarjeta ligeramente */
}

.country-card:active {
  transform: translateY(0); /* Vuelve a la posición original al hacer clic */
}

.countries-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem; 
  justify-items: center; /* Centra las tarjetas dentro de sus celdas */
  justify-content: space-between;
}

.country-flag {
  width: 100%;
  position: relative; /* Necesario para controlar la altura proporcional */
  padding-top: 66.66%; /* Esto da una proporción 2:3 (2/3 = 66.66%) */
  overflow: hidden; /* Hace que la imagen no se desborde fuera del contenedor */
}

.country-flag>img {
  position: absolute; /* Hace que la imagen se posicione dentro del contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill; /* Asegura que la imagen cubra completamente el contenedor */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.country-name {
  font-size: 20px;
  font-weight: 600;
}

.country-summary {
  padding-left: 15px;
  padding-right: 15px;
}

.country-details-container {
  display: flex;
  width: 100%;
  gap: 5%;
}

.country-image-container {
  width: 40%;
}

.country-info-container {
  width: 60%;
  padding-top: 30px;
}

.country-info-container .label, .country-summary .label {
  font-weight: bold;
}

.country-wrapper-link {
  text-decoration: none;
  color: black;
}

body.dark .country-wrapper-link {
  color: white;
}

.country-details-container .details {
  display: flex;
  gap: 20px;
}

.country-details-container .details .details-column {
  width: 50%;
}

.container {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-name {
  all:unset;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); 
  background-color: white;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23999" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px 16px;
  padding-left: 35px;
  height: 45px;
  width: 300px;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease; /* Transición suave */
}

body.dark .input-name {
  background-color: hsl(209, 23%, 22%);
}

.input-name:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.input-name:focus {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.select-region {
  all:unset;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: content-box;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); 
  background-color: white;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23999" viewBox="0 0 448 512"><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  padding-right: 35px;
  height: 45px;
  width: 200px;
  transition: box-shadow 0.2s ease;
}

.select-region:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.select-region:focus {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

body.dark .select-region {
  background-color: hsl(209, 23%, 22%);
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 6px 20px -6px rgba(0, 0, 0, 0.1);
  /*transition: background-color 0.2s ease, color 0.2s ease;*/
}

body.dark nav {
  background-color: hsl(209, 23%, 22%);
}

nav a {
  text-decoration: none;
  color: black;
}

body.dark nav a {
  color: white;
}

.back-button {
  all:unset;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); 
  background-color: white;
  height: 20px;
  width: 80px;
  text-align: center;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

body.dark .back-button {
  background-color: hsl(209, 23%, 22%);
}

.country-info-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.country-info-container ul li {
  margin-right: 10px;
  margin-bottom: 20px;
}

.border-countries {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.border-country-tag {
  text-decoration: none;
}

.border-country-tag {
  all:unset;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); 
  background-color: white;
  color: black;
  text-align: center;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}

body.dark .border-country-tag {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.border-country-tag:hover { 
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
}

.back-button:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 1500px) {
  .countries-grid {
    gap: 1.5rem; 
  }
}

@media (max-width: 1000px) {
  .countries-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Máximo de 4 columnas */
  }

  
  .country-details-container {
    flex-direction: column;
  }

  .country-info-container {
    width: 100%;
  }

  .country-image-container {
    max-width: 500px;
    width: 70%;
  }
}

@media (max-width: 535px) {
  nav {
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .filters {
    flex-direction: column;
    gap: 10px
  }

  .filters .input-name {
    width: 100%;
  }

  .country-details-container .details {
    flex-direction: column;
    gap: 0px;
  }

  .country-image-container {
    width: 100%;
  }
}

.dark-mode-button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  cursor: pointer;
}


.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 300px;
}


.spinner {
  border: 4px solid hsl(209, 23%, 22%);
  border-top: 4px solid hsl(0, 100%, 100%);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 0.8s linear infinite;
}

body.dark .spinner {
  border: 4px solid hsl(0, 100%, 100%);
  border-top: 4px solid hsl(209, 23%, 22%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

