.country-card {
  max-width: 300px;
  border: 1px solid gray;
  margin: 10px;
}

.countries-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; /* opcional: separa los elementos */
}

.country-card .country-flag>img {
  width: 100%;
}

.country-flag>img {
  aspect-ratio: 2 / 3;
  height: 150px;
}

.country-name {
  font-size: 20px;
  font-weight: 600;
}

.country-summary {
  padding-left: 15px;
  padding-right: 15px;
}

.country-details-container {
  display: flex;
  width: 100%;
}

.country-info-container {
  width: 100%;
}

.country-wrapper-link {
  text-decoration: none;
  color: black;
}

.country-details-container .details {
  display: flex;
  gap: 20px;
}

.country-details-container .details .details-column {
  width: 50%;
}
